/* Format styles */
body {
    background-color:#ffe8d6;
}
header, nav, main, footer {
  margin: 0 auto;
  display: block;
  width:900px;
}

button {
  background-color: #6b705c;
  display:block;
  margin: 0 auto;
  font-size: 1em;
  border: 1px solid #6b705c;
  border-radius: 50px;
  color:white;
  margin: 0 auto;
  padding: 10px 20px;
  transition: 0.2s;
}

button:hover {
  background-color: #a5a58d;
  border: 1px solid #a5a58d;
  transition: 0.2s;
}

/* Box styles */
.box {
  background-color:#fff4ec;
  width:700px;
  padding:50px;
  border-radius:50px;
  margin:0 auto; 
  display:block;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(0, auto);
}
.one { grid-column: 1 ; grid-row: 3; }
.two { grid-column: 2 ; grid-row: 3; }
.three { grid-column: 3 ; grid-row: 3; }
svg { display: block;margin: 0 auto;} 

/* Paddings & margins */
.top10 { padding-top: 10px;}
.top20 { padding-top: 20px;}
.top30 { padding-top: 30px;}
.top40 { padding-top: 40px;}

.bot20 { padding-bottom: 20px;}
.bot30 { padding-bottom: 30px;}
.bot40 { padding-bottom: 40px;}

/* Text format styles  */
h1, h2, h3, h4, h5 { 
  font-weight: bold; 
  text-align: center;
}
h1, h2, h3, h4, h5, p, a, li {
  font-family: 'Varela Round', sans-serif;
  margin:0;
  padding:0;
}
h1 { font-size: 3em; color: #6b705c; }
h2 { font-size: 1.5em; color: #a5a58d; }
p { color: #cb997e; }

.font2 { font-size:2em; }
.tcenter { text-align: center;}
.legal { color: #ddbea9; }

/* Dices */
#dice4 { width:150px;}
.dice4 { fill:#FDD5A5; }


@media (max-width: 600px) {
  /* Format styles mobile */ 
  header, nav, main, footer { width:95%; }

  /* Box styles mobile */
  .box { width: 90%; }

  /* Text format styles mobile  */
  h1 { font-size: 2.1em; }
  h2 { font-size: 1.1em; }
  .font2 { font-size: 1.5em; }

}